<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="e:\.nuget\packages" />
	<add key="repositoryPath" value="e:\.nuget\installed_packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="external" value="https://tfs.k2.com/tfs/labs/_packaging/external/nuget/v3/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="e:\.nuget\NuGetPackages\" />
    <add key="shared" value="https://tfs.k2.com/tfs/labs/_packaging/labs-shared/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
  </disabledPackageSources>
</configuration>